<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GACC_Modelo.Properties.Settings.GACC_ComplexivoEstimacionDeCostosConnectionString"
            connectionString="Data Source=DESKTOP-GV5PGTP\SQLEXPRESS;Initial Catalog=GACC_ComplexivoEstimacionDeCostos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>